*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 2em;
    text-align: center;
    display: flex;
    justify-content: center;

}

.left{
    background: beige;
    width: 25%;
    margin: 0.6em;
    border-radius:5px;
    padding:1em;
}

#p{
    display: none;
}

h1{
    margin: 1em;
}

.instrucciones{    
    margin:2em 1em;
    width: 90%;
}

.instrucciones p{
    margin:1em 0;
    width: 90%;
    text-align: left;
}

.fila{
    display: flex;
    justify-content: center;    
}
.ficha{
    /*background: url(../img/dorso.png);*/
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin: 0.6em;
    border-radius:5px;
    box-shadow: darkgray 1px 1px 2px;
}

.hidden{
    opacity:0;
}

.visible{
    opacity:1;
}

.matched{
    opacity:1;
}

.background{
    background: url(../img/dorso.png);
    background-size: 100%;
}

.noClick{
    opacity:0;
}

