*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque ;
}
#welcomeDiv{
    width: 100%;
    height: 100%;
    background-color: bisque;
    z-index: 2; /*si lo dejo en 2 me aparecen las fichas*/
    position: absolute;
    text-align: center;
}
#welcomp{
    font-family:'Chewy';
    font-size:4em;
    color: #9D2689;
    margin-bottom: 0.5em;
}
#welcomeInfo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
}
#playerNameInput{
    width: 60%;
    border-radius: 2px;
    border: 2px solid #ff8787;
    font-size:1em;
    text-transform: uppercase;
    background-color: bisque;
    color:#ff8787;
    padding: 0.5em;
}
::placeholder {
    color: #ff8787;
}
#levelDiv{
    padding: 0.5em 0;
}
#lvlSelect{
    width: 60%;
    border-radius: 2px;
    border: 2px solid #ff8787;
    padding: 0.5em;
    font-size:1em;
    text-transform: uppercase;
    background-color: bisque /* #495057*/;
    color: #ff8787;
}
#levelOp {
    color: #ff8787;
    padding-top: 3px;
    line-height: 1em;
}
#lvlSelect select option:not(:checked) { 
    color:#ff8787;
    margin: 1em 0;
    display: block;
}
.oblig{
    color: #cf0303;
    display: block;
    margin-top: 0.5em;
}
.btn{
    width: 60%;
    background-color:  #ff8787;
    border:  #ff8787;
    color: white;
    text-transform: uppercase;    
    font-size: 1em;
    padding: 0.6em 1em;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
}
.btn:hover{
    background-color:#f03e3e;
}
.btn,#lvlSelect select option:not(:checked),#levelOp,#lvlSelect,::placeholder,#playerNameInput,.rankingNames,.oblig { 
    font-family:'Tajawal';
    font-weight:700;
}
.main{
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    z-index:1;
}
.left{
    background: rgb(247, 251, 253);
    width: 35%;
    margin: 0.6em;
    border-radius:5px;
    padding:1em;
    box-shadow: darkgray 1px 1px 2px;
}
#p{
    display: none;
}
h1{
    margin:0.3em;
    font-family:'Chewy';
    font-size: 42px;
    color: #9D2689; 
}
.instr{
    font-family:'Tajawal';
    padding-left: 0.4em;
    text-transform: uppercase;
}
.person, h3, #intentosP,#scoreP,.rankingTitle{
    font-family:'Sniglet';
    color: #f03e3e ; 
}
h3{
    font-size: 20px;
    margin-bottom: 0.3em;
}
.person{
    font-size:30px;
}
#intentosP,#scoreP{
    font-size: 25px;
    margin: 5px;
}
.instrucciones{    
    margin:2em 1em;
    width: 90%;
}
.instrucciones p{
    margin:0.2em;
    width: 90%;
    text-align: left;
    font-size: 20px;
}
#infoJuegoP{
    font-family:'Sniglet';
    font-size: 27px;
    color: #9D2689;
    margin-top: 1.6em;
}
.right{
    width:75%;
}
.fila{
    display: flex;
    justify-content: center;    
}
.ficha{
    /*background: url(../img/dorso.png);*/
    background-size: 100%;
    width: 25%;
    height: auto;
    margin: 0.6em;
    border-radius:5px;
    box-shadow: darkgray 1px 1px 2px;
}
.ficha img{
    border-radius:5px;
    width: 100%;
    height: 100%; 
}
.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}
.background{
    background: url(../img/dorso2.jpg);
    background-size: 100%;
}
.noPointer{
    pointer-events: none;
}

.displayRanking{
    display: block;
    position: absolute;
    width: 50%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: bisque;
    text-align: center;
    padding: 1.5em; 
    box-shadow: gray 1px 3px 3px;
}
#rankingTitleDiv,#rankingInfoDiv,#restartButtonDiv{
    text-align: center;
}
.rankingTitle{
    font-size:2.2em;
}
.rankingUl, .rankingUl li {
    text-decoration: none;
    width: 60%;
    margin: 0 auto;
}
.rankingScores{
    font-family: 'Tajawal';
    font-weight:500;
}
.rankingNames, .rankingScores{
    display: inline-block;
    margin: 0.5em;
    font-size: 1.2em;
}
.noDisplayRanking{
    display: none;
}
/*   MEDIA QUERIES    */

@media (max-width: 800px){
    body{
        width:100%;
    }

    .main{
        width: 100%;
        padding: 0;
    }

    #scoreP,#intentosP{
        display: inline;
        margin: 0.5em;
    }

    .left{
        width: 99%;      
    }

    .right{
        width: 100%;
    }

    .fila{
        width:100%;
    }


    h1{
        font-size: 35px;
        margin:0em;
    }

    .person{
        font-size:22px;
    }

    .instrucciones{
        margin:0.6em 1em;
    }

    .instrucciones h3{
        font-size:18px;
    }
    
    .instrucciones p{
        font-size:14px;

    }

    #infoJuegoP{
        margin-top: 0.6em;
        font-size:24px;
    }
}


@media (max-width: 600px){
    #welcomeInfo{
        width: 100%;
    }
    #scoreP,#intentosP{
        display: inline;
        margin: 0.5em;
        font-size: 20px;
    }
    .main{
        flex-direction: column;
        justify-content: flex-start;
    }
    .left{
        width: 95%;
    }

    h1{
        font-size: 45px;
        margin:0em;
    }

    .person{
        font-size:26px;
    }
    #infoJuegoP{
        margin-top: 0.4em;
    }
    .displayRanking{
        width: 90%;
    }    
    .rankingUl, .rankingUl li {
        width: 80%;
    }
}

@media(max-width: 350px){

    h1{
        font-size: 40px;
    }

}

