* {
	/*width: 99*/
		margin: 0 auto;
}


header {
	padding-top: 2em;
	background:#fff5f5;
}

header, .main {
	/* background:#fff5f5; */
	margin:1em;
	height:3em;
}

nav {

	margin-left: 2em;
	font-family: 'Josefin Sans', sans-serif;
}


nav a, nav p, nav {
	display: inline;
	text-decoration: none;
	font-size:18px;
}

#home,#prod {
	font-weight: bold;
	color: #c2255c;
}


header img {
	height:30px;
	width:30px;
	display: inline;
}

article {
	display: inline-block;
	/*background: #fff9db; */
	text-align: center;
	
}

.foto {
	display: inline;
	height: 200px;
	width: 200px;
	padding: 0.5em;
	margin:0.9em;
	margin-bottom: 0.1em;
	padding-bottom: 0.1em;

}

.precio {
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:1em;
	padding-bottom: 1.5em;

}

.precios {
	text-align:center;


}

.precio span {
	font-weight: bold;
	text-align: center;

}

#bars {
	float:right;
	margin-right:2.6em;
	margin-top: -0.5em;
}

.main {
	/*padding-top: 1em;*/
	/*height:14em;*/
	text-align: center;
}

/* MEDIA QUERIES */

@media all and (max-width: 480px) {
	
	.foto {
		height:180px;
		width: 180px;
	}

	.precio {
		font-size: 15px;
	}

	nav {
		font-size: 16px;
	}
	
	article {
		display: block;
	}

}